*{
    width: 100%;
    height: 100%; 
}

body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(251, 195, 203);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_container{
    display: flex;
    height: 90%;
    width: 90%;
}

.container1{
    background-color: rgb(134, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1_1{
    background-color: beige;
    width: 50%;
    height: 40%;
    display: flex;
}

.container1_1_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.container1_1_1_1{
    background-color: palevioletred;
    height: 40%;
    width: 70%;
}

.container1_1_1_2{
    background-color: palevioletred;
    height: 40%;
    width: 70%;
}

.container1_1_2{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

.container1_1_2_1{
    background-color: palevioletred;
    height: 40%;
    width: 70%;
}

.container1_1_2_2{
    background-color: palevioletred;
    height: 40%;
    width: 70%;
}

.container2{
    display: flex;
    flex-direction: column;
}

.container2_1{
    background-color: rgb(213, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2_1_1{
    background-color: palevioletred;
    height: 20%;
    width: 16%;
}

.container2_2{
    background-color: rgb(93, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2_2_1{
    background-color: palevioletred;
    height: 20%;
    width: 16%;
}
.container3{
    display: flex;
    flex-direction: column;
}

.container3_1{
    background-color: rgb(93, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3_1_1{
    background-color: palevioletred;
    height: 20%;
    width: 16%;
}
.container3_2{
    background-color: rgb(213, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3_2_1{
    background-color: palevioletred;
    height: 20%;
    width: 16%;
}