header{
    height: 500px;
    width: 100%;
    background-color: pink; 
    color: aliceblue; 
}
nav{
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 30px;
}
span{
    justify-content: center;
    margin: 10px;
}
p{
    font-size: larger;
}